body{
  background: linear-gradient(109.8deg, rgb(62, 5, 116) -5.2%, rgb(41, 14, 151) -5.2%, rgb(216, 68, 148) 103.3%);
  font-family: sans-serif;
}
.container{
  background: white;
  max-width: 480px;
  margin:30px  auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: (100, 100,111, 0.4)0px 7px 29px 0px;

  .header{
    display: flex;
    justify-content:space-around;
    font-size: 50px;
  }
  

  h1{
  text-align: center;
  font-size:40px;
   
 }
}
select{
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 20px;
  border-radius: 8px;
  background-color:#B63A95 ; 
  color: white;
}
a{
  color: white;
}
.city{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px dashed rgb(200, 185, 214);
  padding: 5px 0;
}
.city:last-child{
  border: none;
  padding-bottom: 0
}
h2{
font-size: 30px;
margin-top: 8px;  

}
.time{
  font-size: 46px;
  font-weight: bold;
}
.time small{
  font-size: 16px;
  vertical-align: middle;
}
.date{
  opacity: 0.8;
  padding-left: 2px;
}
footer{
text-align: center;
 font-size:16px;
 line-height: 0.1;
 color: white;
}
 
 
